/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  float:left;
  padding: 33px 20px;
  color:white;
}

/* ここからCSSを記述してください */
.header {
  background-color: #26d0c9;
  height: 90px;
}

/* header-logoの文字の大きさを36px、floatプロパティをleftにしてください */
.header-logo{
  font-size:36px;
  float:left;
  color:white;
  padding:20px 40px;
}

/* header-listのfloatプロパティをleftにしてください */
.header-list{
  float:left;
}